:root {
    --pageMargin: 12px;
    --easingOut: cubic-bezier(.16, 1, .3, 1);
    --easing: cubic-bezier(.83, 0, .17, 1);
    --black: hsla(0, 0%, 11%, 1);
    --grey-80: hsla(0, 0%, 16%, 1);
    --grey-60: hsla(0, 0%, 27%, 1);
    --grey-50: hsla(0, 0%, 42%, 1);
    --grey-40: hsla(60, 0%, 60%, 1);
    --grey-30: hsla(0, 0%, 77%, 1);
    --grey-20: hsla(0, 0%, 85%, 1);
    --grey-10: hsla(0, 0%, 92%, 1);
    --grey-5: hsla(0, 0%, 95%, 1);
    --white: hsla(0, 0%, 100%, 1);
    --headerheight: 40px;
    --bgBlur: 40px;
    --spacing-4: 4px;
    --spacing-8: 8px;
    --spacing-12: 12px;
    --spacing-16: 16px;
    --spacing-20: 20px;
    --spacing-40: 40px;
    --spacing-60: 60px;
    --spacing-80: 80px;
    --spacing-120: 120px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,h1,h2,h3,h4,p,ul,ol,li,figure,figcaption,blockquote,dl,dd {
    margin: 0;
    padding: 0
}

ul,ol {
    list-style: none
}

a {
    text-decoration: none;
    color: inherit
}

a:hover {

}

a:active {
}

.hover-click:active {
    transform: scale(0.98);
}


img,picture,video,canvas,svg {
    display: block;
    max-width: 100%
}

input,button,textarea,select {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

button:hover {
    cursor: pointer;
}

button:active {
    background: var(--page-button-active);
    transform: scale(0.98);
}

@font-face {
    font-family: Helvetica Neue;
    src: url(fonts/HelveticaNeueRoman.otf);
    font-style: normal;
    font-weight: normal;
}

h1 {
    font-size: 39px;
    line-height: 110%;
    font-style: normal;
    font-weight: normal;
    letter-spacing: -0.67px;
    margin-bottom: 60px;

}

h2 {
    font-size: 25px;
    line-height: 110%;
    font-style: normal;
    font-weight: normal;
    letter-spacing: -0.1px;
}

.h2-big {
    font-size: 31px;
    line-height: 100%;
}

h3 {
    font-size: 20px;
    line-height: 110%;
    font-style: normal;
    font-weight: normal;
    letter-spacing: -0.18px;
}


@media only screen and (min-width: 1000px) {
    h1 {
        font-size: 69px;
        max-width: 80%;
    }

    .h2-big {
        font-size: 61px;
    }

    h2 {
        font-size: 39px;
    }
    
}


.btn {
    display: block;
    padding: 12px 16px;
    outline: 0;
    cursor: pointer;
    border-radius: 100px;
    background-color: var(--black);
    color: var(--white);
    transition: background-color 0.2s ease;
    font-size: 20px;
    font-weight: normal;
    line-height: 110%;
    letter-spacing: -0.1px;
    text-align: center;
    text-decoration: none;
    width: fit-content;
}

.btn:hover {
    background-color: #FFD449;
    color: var(--black);
}

.btn.inverted {
    background-color: var(--white);
    color: var(--black);
    border: 1px solid;
}


.btn.inverted:hover {
    background-color: var(--black);
    color: var(--white);
    border: 1px solid;
}

body {
    --page-bg: var(--white);
    --page-text: var(--grey-80);
    --page-border: var(--grey-10);
    --page-button-default: var(--grey-40);
    --page-button-hover: var(--grey-50);
    --page-button-active: var(--grey-60);
    --page-card: var(--grey-5);
    --page-card-hover: var(--grey-20);
    --page-text-2: var(--grey-40);
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -.1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Inter,sans-serif;
    background-color: var(--page-bg);
    color: var(--page-text);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media only screen and (min-width: 1000px) {
    :root {
        --pageMargin: 20px;
    }
}


.p-20 {
    font-size: 20px;
    letter-spacing: -.1px;
    line-height: 120%;
}

.p-25 {
    font-size: 25px;
    letter-spacing: -.1px;
    line-height: 110%;
}

.p-39 {
    font-size: 39px;
    letter-spacing: -.5px;
    line-height: 110%;
}

.p-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.underline {
    text-decoration: underline;
}

.grey {
    color: #999999;
}

header {
    position: fixed;
    bottom: 16px;
    right: 16px;
    top: auto;
    z-index: 20;
}

@media only screen and (min-width: 1000px) {
    header {
        top: 24px;
        right: 24px;
        bottom: auto;
    }
}

main {
    margin-top: var(--spacing-40);
}

#intro {
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 0 var(--pageMargin);
    margin-bottom: 120px;
}

.intro-cards {
    display: grid;
}

.card {
    display: flex;
    flex-direction: column;
    height: 250px;
    padding: 20px;
    background: #FFD449;
    justify-content: space-between;
}

@media only screen and (min-width: 1000px) {
    .intro-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card {
        height: 400px;
    }
}



.card.green {
    background: #548C2F;
    color: var(--white);
}

.card.blue {
    background: #A8D5E2;
}

.border-top {
    border-top: 1px solid var(--black);
}

.info {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 60px;
    margin-top: 120px;
    padding: var(--pageMargin);
    margin-bottom: 120px;
}

.services {
    display: flex;
    flex-direction: column;
    padding: var(--pageMargin);
    margin-bottom: 120px;
    gap: 60px;
}

.get {
    display: flex;
    flex-direction: column;
    padding: var(--pageMargin);
    gap: 60px;
    margin-bottom: 120px;
}

.about {
    display: flex;
    flex-direction: column;
    padding: var(--pageMargin);
    gap: 60px;
    margin-bottom: 120px;
}

@media only screen and (min-width: 1000px) {
    .about {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (min-width: 1000px) {
    .get {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
}

.left {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.portfolio {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    padding: var(--pageMargin);
    gap: 60px;
    margin-bottom: 120px;
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 100%;
}

@media only screen and (min-width: 1000px) {
    .portfolio-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: var(--pageMargin);
    }
    .portfolio-container-reversed {
        display: grid;
        grid-template-columns: 1fr 3fr;
        column-gap: var(--pageMargin);
    }
}

.project {
    display: flex;
    flex-direction: column;
    gap: var(--pageMargin);
    max-width: 100%;
    min-width: 0
    
}

.project-info {
    max-width: 75%;
}


.project-image {
    width: 100%;
    height: auto;
    aspect-ratio: attr(width) / attr(height);
    background: var(--grey-10);
}

.container {
    display: flex;
    width: 100%;
    padding: 0 var(--pageMargin);
}

footer {
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 60px;
    padding: var(--pageMargin);
}

.footer-info {
    max-width: 330px;
    font-style: italic;
}

.swiper-container {
    width: 100%;
    background-color: #999999;
    overflow: hidden;
}

.swiper {
    width: 100%;
}

.swiper-slide img {

}

.swiper .swiper-pagination-bullet-active {
    background-color: var(--white);
}

.width-80 {
    width: 80%;
}
